.message-box-cntnr-disp {
  height: 100%;
  padding-bottom: 100px;
  width: 100%;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-component-container-user-right {
  width: 100%;
  margin: 0px;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
}

.message-component-container-receiver-left {
  width: 100%;
  margin: 0px;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}

.component-container-user-right-inner {
  background-color: #1976d2;
  min-height: 65px;
  max-width: 80%;
  display: flex;
  border-radius: 20px 20px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  position: relative;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

.component-container-user-right-inner h6 {
  font-size: 1.2rem;
  margin: 5px;
  padding: 10px 10px 10px 20px;
}

.component-container-user-right-inner p {
  font-size: 10px;
  margin: 5px;
  color: rgb(244, 239, 239);
  position: absolute;
  bottom: 0px;
  right: 3px;
}
.component-container-user-left-inner {
  background-color: #757678;
  min-height: 65px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  position: relative;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.component-container-user-left-inner h6 {
  font-size: 1.2rem;
  margin: 5px;
  padding: 10px 20px 10px 10px;
}

.component-container-user-left-inner p {
  font-size: 10px;
  margin: 5px;
  color: rgb(244, 239, 239);
  position: absolute;
  bottom: 0px;
  left: 3px;
}

.add-cls-ad-non-existent-group-case {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
}
